{% extends 'hireme/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="content-block text-center" id="portfolio">
            <header class="block-heading cleafix">
                <h1>Our Works</h1>
                <!-- <p>Take a look at some of my recent products</p> -->
            </header>

            <div class="isotope portfolio-items">
                <div class="element-item grid">
                    <div class="portfolio-item effect-zoe">
                        <img class="img-responsive" alt="Portfolio" src="{% static 'img/work1.jpg' %}">
                        <figcaption>
                            <h2 class="hidden-xs"> <span></span></h2>
                            <p class="icon-links">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-slack"></i></a>
                                <a href="#"><i class="fa fa-github"></i></a>
                            </p>
                        </figcaption>
                    </div>
                </div>
                <div class="element-item grid">
                    <div class="portfolio-item effect-zoe">
                        <img class="img-responsive" alt="Portfolio" src="{% static 'img/work2.jpg' %}">
                        <figcaption>
                            <h2 class="hidden-xs"> <span></span></h2>
                            <p class="icon-links">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-slack"></i></a>
                                <a href="#"><i class="fa fa-github"></i></a>
                            </p>
                        </figcaption>
                    </div>
                </div>
                <div class="element-item grid">
                    <div class="portfolio-item effect-zoe">
                        <img class="img-responsive" alt="Portfolio" src="{% static 'img/work3.png' %}">
                        <figcaption>
                            <h2 class="hidden-xs"> <span></span></h2>
                            <p class="icon-links">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-slack"></i></a>
                                <a href="#"><i class="fa fa-github"></i></a>
                            </p>
                        </figcaption>
                    </div>
                </div>
                <div class="element-item grid">
                    <div class="portfolio-item effect-zoe">
                        <img class="img-responsive" alt="Portfolio" src="{% static 'img/work7.jpg' %}">
                        <figcaption>
                            <h2 class="hidden-xs"> <span></span></h2>
                            <p class="icon-links">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-slack"></i></a>
                                <a href="#"><i class="fa fa-github"></i></a>
                            </p>
                        </figcaption>
                    </div>
                </div>
                <div class="element-item grid">
                    <div class="portfolio-item effect-zoe">
                        <img class="img-responsive" alt="Portfolio" src="{% static 'img/work8.png' %}">
                        <figcaption>
                            <h2 class="hidden-xs"> <span></span></h2>
                            <p class="icon-links">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-slack"></i></a>
                                <a href="#"><i class="fa fa-github"></i></a>
                            </p>
                        </figcaption>
                    </div>
                </div>
                <div class="element-item grid">
                    <div class="portfolio-item effect-zoe">
                        <img class="img-responsive" alt="Portfolio" src="{% static 'img/work4.jpg' %}">
                        <figcaption>
                            <h2 class="hidden-xs"> <span></span></h2>
                            <p class="icon-links">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-slack"></i></a>
                                <a href="#"><i class="fa fa-github"></i></a>
                            </p>
                        </figcaption>
                    </div>
                </div>
                <div class="element-item grid">
                    <div class="portfolio-item effect-zoe">
                        <img class="img-responsive" alt="Portfolio" src="{% static 'img/work5.jpg' %}">
                        <figcaption>
                            <h2 class="hidden-xs"> <span></span></h2>
                            <p class="icon-links">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-slack"></i></a>
                                <a href="#"><i class="fa fa-github"></i></a>
                            </p>
                        </figcaption>
                    </div>
                </div>
                <div class="element-item grid">
                    <div class="portfolio-item effect-zoe">
                        <img class="img-responsive" alt="Portfolio" src="{% static 'img/work6.jpg' %}">
                        <figcaption>
                            <h2 class="hidden-xs"> <span></span></h2>
                            <p class="icon-links">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-slack"></i></a>
                                <a href="#"><i class="fa fa-github"></i></a>
                            </p>
                        </figcaption>
                    </div>
                </div>
            </div>	<!-- isotope portfolio-items -->
            <a href="#" class="btn btn-lg btn-view">
                <i class="fa fa-eye"></i>
                <span>View All!</span>
            </a>
        </div>
        <div id="services" class="content-block">
            <div id="numbers" class="parallax">
                <div class="overlay">
                    <!-- title -->
                    <div class="container-fluid numbers-title">
                        <div class="container">
                            <div class="row block-heading">
                                <h1>FAQ</h1>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <!-- number list -->
                        <ul class="numbersList">
                            <li class="col-md-2 col-sm-4 col-xs-6">
                                <h4> Developers </h4>
                                <span id="number1" class="count1 count-timer">100</span>
                            </li>
                            <li class="col-md-2 col-sm-4 col-xs-6">
                                <h4> Countries</h4>
                                <span id="number2" class="count2">110</span>
                            </li>
                            <li class="col-md-2 col-sm-4 col-xs-6">
                                <h4> Hours of Work</h4>
                                <span id="number3"  class="count3">240</span>
                            </li>
                            <li class="col-md-2 col-sm-4 col-xs-6">
                                <h4> Repositories in Git</h4>
                                <span id="number4" class="count4">67</span>
                            </li>
                            <li class="col-md-2 col-sm-4 col-xs-6">
                                <h4> Mobile APP</h4>
                                <span id="number5" class="count5">124</span>
                            </li>
                            <li class="col-md-2 col-sm-4 col-xs-6">
                                <h4> Happy Client </h4>
                                <span id="number6" class="count6">450</span>
                            </li>
                        </ul><!-- numbersList end -->
                    </div><!-- container-fluid end -->
                </div><!-- overlay end -->
            </div>
        </div>
        <div class="content-block" id="testimonials">
            <header class="block-heading cleafix text-center">
                <h1>Testimonials</h1>
                <!-- <p>Lorem Ipsum Text</p> -->
            </header>
            <div class="block-content text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                        	<div class="owl-carousel">
								<div class="owl-item">
									<div class="testimonial">
                                        <img alt="Client Photo" src="{% static 'img/team-3.jpg' %}" width="100px" height="150px">
                                        <p>I needed a website and they helped me to develop one..</p>
                                        <strong>Joel Olawanle</strong><br>
                                        <span>CEO, Tobest Foundation.</span>
                                    </div>
								</div>	<!-- owl-item -->
								<div class="owl-item">
									<div class="testimonial">
                                        <img alt="Client Photo" src="{% static 'img/team-2.jpg' %}" width="100px" height="150px">
                                        <p>They realled helped me when i neede a mobile for my company. Thumbs up</p>
                                        <strong>Asaolu Elijah</strong><br>
                                        <span>CEO, Eagle Hub</span>
                                    </div>
								</div>	<!-- owl-item -->
								<div class="owl-item">
									<div class="testimonial">
                                        <img alt="Client Photo" src="{% static 'img/team-1.jpg' %}" width="100px" height="150px">
                                        <p>You guys are the best.</p>
                                        <strong>Shittu OLumide</strong><br>
                                        <span>Unicorn Productions.</span>
                                    </div>
								</div>	<!-- owl-item -->
							</div>	<!-- owl-carousel -->
						</div>	<!-- col-md-12 -->
                    </div>	<!-- row -->
                </div>	<!-- container -->
            </div>	<!-- block-content -->
        </div>	<!-- content-block -->

        <div class="content-block" id="contact">
            <div class="overlay-3">
                <header class="block-heading cleafix text-center">
                    <h1>Feed-Back</h1>
                    <!-- <p>Feel Free to Contact</p> -->
                </header>
                <div class="block-content text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 wow animated fadeInLeft">
                                <form class="contact-form" action="">
                                    <input type="text" name="name" placeholder="Name" required>
                                    <input type="email" name="email" placeholder="Email" required>
                                    <textarea rows="5" name="message" placeholder="Say Something..." required></textarea>
                                    <input type="submit" value="Submit"><br><br>
                                </form>
                            </div>
                            <div class="col-md-6 wow animated fadeInRight">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="contact-info">
                                            <div class="clearfix">
                                                <div class="rotated-icon">
                                                    <div class="sqaure-nebir"></div>
                                                    <i class="fa fa-map-marker"></i>
                                                </div>
                                                <p><strong> Address:</strong> Nigeria.
                                                </p>
                                            </div>
                                            <div class="clearfix">
                                                <div class="rotated-icon">
                                                    <div class="sqaure-nebir"></div>
                                                    <i class="fa fa-mobile"></i>
                                                </div>
                                                <p><strong> Cell No:</strong> 08103016965 </p>
                                            </div>
                                            <div class="clearfix">
                                                <div class="rotated-icon">
                                                    <div class="sqaure-nebir"></div>
                                                    <i class="fa fa-envelope-o"></i>
                                                </div>
                                                <p>
                                                    <strong> Email:</strong> iamholumeedey007@gmail.com
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <ul class="social-box">
                                        <p>Our social media handles:</p>
                                        <li><a class="facebook-icon" href="facebook.com\shittuolumideayodeji"><i class="fa fa-facebook"></i></a></li>
                                        <li><a class="twitter-icon" href="twitter.com\Shittu_Olumide_"><i class="fa fa-twitter"></i></a></li>
                                        <li><a class="linkedin-icon" href="slack.com\unicornproductions"><i class="fa fa-slack"></i></a></li>
                                        <li><a class="linkedin-icon" href="github.io\zenUnicorn"><i class="fa fa-github"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>	<!-- block-content -->
            </div>	<!-- overlay-3 -->
        </div>	<!-- content-block -->
{% endblock %}
