<!DOCTYPE html>
{% extends "hireme/base.html" %}
{% load staticfiles %}

{% block content %}
   <div class="container">
        <div class="jumbotron">
            {% if registered  %}
                <h1>Thanks for registering!</h1>
            {% else %}
                <center><h3>Register Here!</h3></center>
                    <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                    <input type='submit' value='Register'>  
                    </form>
            {% endif %}
        </div>
   </div>
{% endblock  %}